
.closeContainer{
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .leftright{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
    background-color: lightgray;
  }
  
  .rightleft{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
    background-color: lightgray;
  }
  
  #closeTitle {
    color: white;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  }
  .close{
    margin: 45px 0 0 -5px;
    position: absolute;
  }
  
  .closeContainer:hover .leftright{
    transform: rotate(-45deg);
    background-color: red;
  }
  .closeContainer:hover .rightleft{
    transform: rotate(45deg);
    background-color: red;
  }
  .closeContainer:hover #closeTitle{
    opacity: 1;
  }


